body {
  margin: 0px;
  padding: 0px;
}
/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 667px) 
  and (-webkit-min-device-pixel-ratio: 2) { 

}

/* Portrait */
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 667px) 
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) { 

}

/* Landscape */
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 667px) 
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: landscape) { 

}

/* ----------- iPhone 6+, 7+ and 8+ ----------- */

/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 414px) 
  and (max-device-width: 736px) 
  and (-webkit-min-device-pixel-ratio: 3) { 

}

/* Portrait */
@media only screen 
  and (min-device-width: 414px) 
  and (max-device-width: 736px) 
  and (-webkit-min-device-pixel-ratio: 3)
  and (orientation: portrait) { 

}

/* Landscape */
@media only screen 
  and (min-device-width: 414px) 
  and (max-device-width: 736px) 
  and (-webkit-min-device-pixel-ratio: 3)
  and (orientation: landscape) { 

}

/* ----------- iPhone X ----------- */

/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 812px) 
  and (-webkit-min-device-pixel-ratio: 3) { 

}

/* Portrait */
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 812px) 
  and (-webkit-min-device-pixel-ratio: 3)
  and (orientation: portrait) { 

}

/* Landscape */
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 812px) 
  and (-webkit-min-device-pixel-ratio: 3)
  and (orientation: landscape) { 

}
/* Portrait and Landscape */
@media screen 
  and (device-width: 320px) 
  and (device-height: 640px) 
  and (-webkit-device-pixel-ratio: 3) {

}

/* Portrait */
@media screen 
  and (device-width: 320px) 
  and (device-height: 640px) 
  and (-webkit-device-pixel-ratio: 3) 
  and (orientation: portrait) {

}

/* Landscape */
@media screen 
  and (device-width: 320px) 
  and (device-height: 640px) 
  and (-webkit-device-pixel-ratio: 3) 
  and (orientation: landscape) {

}

/* ----------- Galaxy S6 ----------- */

/* Portrait and Landscape */
@media screen 
  and (device-width: 360px) 
  and (device-height: 640px) 
  and (-webkit-device-pixel-ratio: 4) {

}

/* Portrait */
@media screen 
  and (device-width: 360px) 
  and (device-height: 640px) 
  and (-webkit-device-pixel-ratio: 4) 
  and (orientation: portrait) {

}

/* Landscape */
@media screen 
  and (device-width: 360px) 
  and (device-height: 640px) 
  and (-webkit-device-pixel-ratio: 4) 
  and (orientation: landscape) {

}
/* ----------- Google Pixel ----------- */

/* Portrait and Landscape */
@media screen 
  and (device-width: 360px) 
  and (device-height: 640px) 
  and (-webkit-device-pixel-ratio: 3) {

}

/* Portrait */
@media screen 
  and (device-width: 360px) 
  and (device-height: 640px) 
  and (-webkit-device-pixel-ratio: 3) 
  and (orientation: portrait) {

}

/* Landscape */
@media screen 
  and (device-width: 360px) 
  and (device-height: 640px) 
  and (-webkit-device-pixel-ratio: 3) 
  and (orientation: landscape) {

}

/* ----------- Google Pixel XL ----------- */

/* Portrait and Landscape */
@media screen 
  and (device-width: 360px) 
  and (device-height: 640px) 
  and (-webkit-device-pixel-ratio: 4) {

}

/* Portrait */
@media screen 
  and (device-width: 360px) 
  and (device-height: 640px) 
  and (-webkit-device-pixel-ratio: 4) 
  and (orientation: portrait) {

}

/* Landscape */
@media screen 
  and (device-width: 360px) 
  and (device-height: 640px) 
  and (-webkit-device-pixel-ratio: 4) 
  and (orientation: landscape) {

}
/* ----------- Windows Phone ----------- */

/* Portrait and Landscape */
@media screen 
  and (device-width: 480px) 
  and (device-height: 800px) {

}

/* Portrait */
@media screen 
  and (device-width: 480px) 
  and (device-height: 800px)  
  and (orientation: portrait) {

}

/* Landscape */
@media screen 
  and (device-width: 480px) 
  and (device-height: 800px) 
  and (orientation: landscape) {

}

/* ----------------------------------------------
 * Generated by Animista on 2019-2-9 10:0:59
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation slide-bottom
 * ----------------------------------------
 */
 @-webkit-keyframes slide-bottom {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(100px);
            transform: translateY(100px);
  }
}
@keyframes slide-bottom {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(100px);
            transform: translateY(100px);
  }
}



@keyframes pulse {
  0% {
    background-color: #46709B;
  }
  50% {
    background-color: #032355;
  }
  100% {
    background-color: #46709B;
  }
}
.slide-bottom {
	-webkit-animation: slide-bottom 4s cubic-bezier(0.250, 0.460, 0.450, 0.940) infinite alternate-reverse both;
	        animation: slide-bottom 4s cubic-bezier(0.250, 0.460, 0.450, 0.940) infinite alternate-reverse both;
}
.slide-bottom img {
  position: left;
}

.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.pre{

  height: 300vh;
  width: 100%;
}

.bro {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
    padding: 40px;
    background: rgba(0, 0, 0, .8);
    box-sizing: border-box;
    box-shadow:0 15px 25px  rgba(0, 0, 0, .5);
    border-radius: 10px;
}

.align {
  max-width: 20%;
}
ul.a {
  list-style-type: square;
}
button{
  background: rgba(0, 0, 0, .65);
  color: #D4D8DA;
  border: 5px black, double;
  padding: 10px 10px;
}
.banderas{
  position: absolute;
  color: #D4D8DA;
  top: 83%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 550px;
  padding: 20px;
  padding-bottom: 50px;
  background: rgba(0, 0, 0, .65);
  box-sizing: border-box;
  box-shadow:0 15px 25px  rgba(0, 0, 0, .5);
  border-radius: 30px;
}
.banderas button{
  margin-left: 8px;
}
.banderas img{
  max-width: 60px;
  min-width: 60px;
  max-height: 35px;
  min-height: 35px;
  
}

.box{
  position: absolute;
  top: 44%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 550px;
  padding: 40px;
  padding-bottom: 50px;
  background: rgba(0, 0, 0, .65);
  box-sizing: border-box;
  box-shadow:0 15px 25px  rgba(0, 0, 0, .5);
  border-radius: 30px;
}
.backgroundOne {
  background-image: url(containerbackground.jpg);
  background-size: cover;
  display: table;
  background-attachment: fixed;
  min-height: 130vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
.navbar {
  padding-left: 1vw;
  overflow: hidden;
  background-color: #333;
  position: fixed;
  margin: auto;
  top: 2%;
  left: 4.5%;
  width: 90%;
  height: 14vh;
  z-index: 3;
  border-radius: 60px;
}
p{
  margin:0px;

}
.navbar a {
  display: inline-block;
  float: left;
  color: #f2f2f2;
  text-align: center;
  vertical-align: 5vh;
  padding: 42px 16px;
  text-decoration: none;
  font-size: 17px;
  height: 10vh;
  border-radius: 60px;
}
.App p {
  font-size: 350%;
}
.navbar p {
  
  margin-top: 2%;
  
  float: left;
  color: #f2f2f2;
  text-align: center;
  vertical-align: 5vh;
  padding: 5px 16px;
  text-decoration: none;
  font-size: 190%;
  height: 10vh;

}
ul {
  text-align: center;
  list-style-type: none; 
}
.c ul:first-child  li:before { content:"\2713\0020"; } 
.c ul:nth-child(2) li:before { content:"\2714\0020"; }

.navbar a:hover {
  background: #ddd;
  color: black;
  border-radius: 30px;
}
.c ul{
  padding: 0;
}
.yellow{

  background-attachment: fixed;
  background-color: #FBEB46;
  position: relative;
  width: 100vw;
  height: 37vh;
  bottom: 0px;
  z-index: 3;

}
.left {
  float: left;
  width: 125px;
  text-align: right;
  margin: 2px 10px;
  display: inline;
  margin-top: 5vh;
  margin-left: 505px;
  margin-right: 70px;
}

.yellow hr{
  color: #D4D8DA;
  float: left;
  margin-top: 5vh;
}
.right {
  float: left;
  text-align: left;
  margin: 2px 10px;
  margin-left: 70px;
  display: inline;
  margin-top: 5vh;
}


.main {
  padding: 16px;
  margin-top: 30px;
  height: 1500px; /* Used in this example to enable scrolling */
}

.boxU{
  color: #FFF6D9  ;
  transform: translate(-50%, -50%);
  background: rgba(0, 0, 0, .8);
  box-shadow:0 15px 25px  rgba(0, 0, 0, .5);
  border-radius: 10px;
  padding: 10px;
}

.boxUn{
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: inherit;
  color: #FFF6D9  ;
  transform: translate(-50%, -50%);
  background: rgba(0, 0, 0, .8);
  box-shadow:0 15px 25px  rgba(0, 0, 0, .5);
  border-radius: 10px;
  padding: 10px;
  margin-left: 20px;
  margin-right: 40px;
}

.box a {
  color:rgb(18, 62, 145);
}

.App-header {
  background-image: url(conbar3.jpg);
  background-size: cover;
  display: table;
  background-attachment: fixed;
  min-height: 130vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
.backgroundOne {
  background-image: url(containerbackground.jpg);
  background-size: cover;
  display: table;
  background-attachment: fixed;
  min-height: 130vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
.titOne {
  margin-top: 50vh;
  font-size: 370%;
  position: relative;
  color: #D4D8DA;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 900px;
  padding: 20px;
  background: rgba(0, 0, 0, .65);
  box-sizing: border-box;
  box-shadow:0 15px 25px  rgba(0, 0, 0, .5);
  border-radius: 35px;
  z-index: 0;
}
.titDos {
  margin-top: 20vh;
}
.listone {
  margin-top: 70vh;
  position: relative;
  color: #D4D8DA;
  top: 160%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 75vw;
  height: 120vh;
  padding: 40px;
  background: rgba(0, 0, 0, .65);
  box-sizing: border-box;
  box-shadow:0 15px 25px  rgba(0, 0, 0, .5);
  border-radius: 10px;
}
.res {

  height:260px;
  color: black;
  background-color:#D4D8DA;
  border-bottom:1px solid black;
  text-align:left;

}

.res img {

  margin-top:8.5px;
  margin-left:5px;
  display:inline
}

.res span {

  display:block;
}
      /* animacion de colores */
#box1{
  height: 100vh;
  width: 100%;
  background-color: #F7FAFC;
  background-size: cover;
  display: table;
  background-attachment: fixed;
  animation: pulse 7s infinite;
}
div.a {
  position: relative;
  top: 0vh;
  width: 100vw;
  height: 110vh;
  margin-bottom: 25vh;
}

div.b {
  position: absolute;
  top: 0vh;
  left: 5vw;
  width: 40vw;
  height: 50vh;
  
} 

div.c {
  position: absolute;
  font-size: 150%;
  padding: 40px 30px;
  top: 5vh;
  left: 50vw;
  width: 45vw;
  height: 90vh;
  color: #D4D8DA;
  border-radius: 25px;
  background: rgba(0, 0, 0, .65);
  box-sizing: border-box;
  box-shadow:0 15px 25px  rgba(0, 0, 0, .5);
} 
#pad1 img {
  margin-top: 10vh;
  left: 50%;
  margin-bottom: 10vh;
  border: 20px #032355 double;
  background-color: #D4D8DA;
  box-shadow:0 15px 25px  rgba(0, 0, 0, .6);
  border-radius: 30px;
  position: left;
}
#box2{
  overflow: auto;
  height: 100vh;
  width: 100%;
  background-image: url(code.jpeg);
  background-size: cover;
  display: table;
  background-attachment: fixed;
}
#imgen{
  background-image: url(conbar2.jpg);
  background-size: cover;
  display: table;
  background-attachment: fixed;
  min-height: 50vh;
  min-width: 50vw;
  display: flex;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
